
<link rel="stylesheet" href="graphs.css"
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-info">
  <a href="/" class="navbar-brand">Missing Persons Portal</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse4">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse4">
    <div class="navbar-nav">
      <a href="/" class="nav-item nav-link">Home</a>
      <a href="/userBlogs" class="nav-item nav-link">Blog</a>
      <a href="/cases" class="nav-item nav-link active">Cases</a>
      <a href="/UserCaseStudies" class="nav-item nav-link">Case Studies</a>
      <a href="/analytics" class="nav-item nav-link">Analytics Dashboard</a>

    </div>
    <ul class="nav navbar-nav ml-auto">
      <li>
        <button class="btn btn-outline-light" onclick="window.location.href='/logout'">
          <b>LOGOUT</b>
        </button>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="column mr-5">
    <div id="test" style="text-align: center; color: white;">
      <h2 class='mr-5 'style="font-family: 'Courier New', monospace;">Test your Safety!</h2>
      <form id="myForm" onsubmit="genNumber()">

        <div class="row1">
          <div class="col-25">
            <label for="age">Enter Age: </label>
          </div>
          <div class="col-25">
            <input type="number" id="fage" name="age" placeholder="Enter your age">
          </div>
        </div>
        <br>
        <div class="row1">
          <div class="col-25">
            <label for="city">Enter City: </label>
          </div>
          <div class="col-25">
            <select id="city" name="city">
              <option value="Mumbai">Mumbai</option>
              <option value="Pune">Pune</option>
              <option value="Delhi">Delhi</option>
              <option value="Kolkata">Kolkata</option>
              <option value="Chennai">Chennai</option>
              <option value="Bangalore">Bangalore</option>
              <option value="Patna">Patna</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Surat">Surat</option>
            </select>
          </div>
        </div>
        <br>

        <div class="row1">
          <div class="col-25">
            <label for="Gender">Enter Gender:</label>
          </div>
          <div class="col-25">
            <select id="fgender" name="gender">
              <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row1">
          <div class="col-25"></div>
          <div class="col-25">
            <input type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="column">
    <div id="test" style="text-align:center;">
      <div id="result" style="visibility:hidden;"></div>
      <h2 style="color:white;" id="resulttext"></h2>
    </div>
  </div>
  <div class="column">
    <div id="map">
    </div>
  </div>
  <div class="column">
    <div id="bubble"></div>
  </div>
  <div class="column">
    <div id="gender"></div>
  </div>
  <div class="column">
    <div id="dept"></div>
  </div>
  <div class="column" style="flex: 96%; max-width: 96%;">
    <div id="threed"></div>
  </div>
</div>
</body>
<script src="/JS/script.js">
</script>