<nav class="navbar navbar-expand-lg navbar navbar-dark bg-info">
    <a href="/" class="navbar-brand">Missing Persons Portal</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse4">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse4">
        <div class="navbar-nav">
          <a href="/" class="nav-item nav-link active">Home</a>
          <a href="/userBlogs" class="nav-item nav-link">Blog</a>
          <a href="/cases" class="nav-item nav-link ">Cases</a>
          <a href="/UserCaseStudies" class="nav-item nav-link">Case Studies</a>
          <a href="/analytics" class="nav-item nav-link">Analytics Dashboard</a>

        </div>
        <ul class="nav navbar-nav ml-auto">
            <li>
                <button class="btn btn-outline-light" onclick="window.location.href='/logout'">
                    <b>LOGOUT</b>
                </button>
            </li>
        </ul>
    </div>
</nav>
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="tinted-image">
                <img src="/Images/missing.svg" alt="webgoal" width="1100" height="500">
            </div>
            <div class="carousel-caption ">
                <h3>Missing persons portal</h3>
                <p>Many missing persons cases remain unsolved. This is not because of lack of efforts by the
                    authorities but mainly because the general population is very unaware about them.This service
                    intends to solve cases of public interest by the involvement of the public - via crowdsourcing. This
                    service will additionally strive to encourage participation of the public in crime solving.<br><br>
                </p>
                </p>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="tinted-image">
                <img src="/Images/policeman.svg" alt="features" width="1100" height="500">
            </div>
            <div class="carousel-caption ">
                <h3>Features</h3>
                <p>
                    Blogging system to organize cases, case studies, lead posts<br>
                    A dashboard to provide location and analytics about a case<br>
                    Searching and recommendation system<br>
                    Additional features for officials
                    <br><br>
                </p>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="tinted-image">
                <img src="/Images/group-of-users-interface-symbol.svg" alt="Creators" width="1100" height="500">
            </div>
            <div class="carousel-caption ">
                <h3>Creators</h3>
                <p>Shlok Naik <br>
                    Shabarish Ramaswamy <br>
                    Kedar Sant <br><br><br><br><br>
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<footer>
    <p>Project made by team ReferentialAnonymity, for ByteCamp 2021</p>
</footer>
